@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", serif;
}
.main {
  background: url("./images/grass.jpg");
  background-position: center center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-content: center;
}
#game-container {
  margin: 0 auto;
  width: 520px;
  height: 520px;
  background: url("./images/soil.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 5%;
  border: 2px solid #b3714e;
  position: relative;
  user-select: none;
}
#level-select-menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
#start-game-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #13441e;
  color: white;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10%;
  margin: auto;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 2;
  transition: all 100ms 0ms linear;
}
#start-game-button:active {
  font-size: 0.8rem;
  font-weight: 800;
  transform: translate(-50%, -50%) scale(0.9);
}

.scoreboard {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: #13441e;
  color: white;
  font-weight: 600;
}
caption {
  font-weight: 800;
  background-color: #13441e;
  color: white;
  border: 1px solid white;
}
td {
  padding: 0.5rem;
  border: 1px solid white;
}
#levels-container {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: absolute;
  border: 2px solid black;
}
#levels-container > button {
  padding: 0.5rem;
  background-color: transparent;
  font-weight: 600;
  border: none;
}

#levels-container > button:first-child:hover:not(#selected) {
  background-color: rgb(0, 179, 255);
  color: white;
}
#levels-container > button:nth-child(2):hover:not(#selected) {
  background-color: rgb(33, 120, 33);
  color: white;
}

#levels-container > button:nth-child(3):hover:not(#selected) {
  background-color: rgb(204, 0, 255);
  color: white;
}
#levels-container > button:last-child:hover:not(#selected) {
  background-color: rgb(255, 0, 0);
  color: white;
}
#levels-container > button#selected {
  background-color: #13441e;
  color: white;
}
#game {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#game > .place {
  width: 150px;
  height: 150px;
  position: relative;
}
#game > .place > .pipe {
  position: absolute;
  bottom: -10%;
  left: -35%;
  width: 170%;
  height: 75%;
}
#game > .place > .mole {
  position: absolute;
  width: 70%;
  height: 60%;
  left: 15%;
  top: 2%;
}
#game > .place > .plant {
  position: absolute;
  top: -38%;
  left: 5%;
  width: 100%;
  height: 120%;
}
#live-score-container {
  background-color: #13441e;
  color: white;
  width: fit-content;
  position: absolute;
  top: 11.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#countdown {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1000ms 0ms ease-out;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  display: none;
  color: white;
  font-weight: 700;
  z-index: 99999999;
}
